<md-dialog aria-label="Course dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a Challenge</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-font-set="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout>
        <md-dialog-content>
            <md-input-container>
                <label>Challenge name</label>
                <input type="text" ng-model="challenge.name">
            </md-input-container>
            <md-input-container>
                <label>TYPE</label>
                <md-select ng-model="selectedReadType">
                    <md-option ng-repeat="readType in readTypes" value="{{readType}}" ng-click="chooseType($index)">
                        <div layout="row" layout-align="start center" layout-margin>
                            <!--
                            <md-icon md-font-set="material-icons">
                                {{challengeIcons[$index]}}
                            </md-icon>
                            <span flex></span>
                            -->
                            <span>{{readType}}</span>
                        </div>
                    </md-option>

                </md-select>
            </md-input-container>
        </md-dialog-content>
    </div>
    <div>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button aria-label="Add Challenge" ng-show="challenge.name.length > 0"
                       ng-click="addChallenge()"
                       class="md-primary">
                Add Challenge
            </md-button>
        </div>
    </div>
</md-dialog>
