<md-dialog class="tablet" aria-label="Preview {{challenge.name}} Challenge">
       <!-- <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Preview {{challenge.name}} Challenge</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>-->
        <md-dialog-content class="no-border-preview">
                <iframe src='{{getPreviewSrc()}}'
                        width="1024" height="552" scrolling="no"
                        class="no-border-preview"></iframe>
        </md-dialog-content>
</md-dialog>
