<section data-ng-controller="ChallengesController">

    <md-grid-list
            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile ng-repeat="challenge in challenges"
                      class="green" md-rowspan="1" md-colspan="2" ng-click="go(challenge)">
            <md-grid-tile-footer>
                <h3>{{challenge.name}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
        <md-button class="md-fab md-primary" aria-label="Add challenge"
                   ng-click="showDialog($event)">
                <md-icon md-font-set="material-icons" style="width: 2.7rem; height: 1.15rem">add</md-icon>

        </md-button>
</section>
