<md-dialog aria-label="Course dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a Course</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-font-set="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout>
        <md-dialog-content layout>
            <md-input-container>
                <label>Course name</label>
                <input type="text" ng-model="course.name">
            </md-input-container>
            <md-input-container>
                <label>Estimated Time Per Challenge</label>
                <md-select ng-model="selectedTime">
                    <md-option ng-repeat="time in times" value="{{time}}" ng-click="chooseTime($index)">
                        <div layout="row" layout-align="start center" layout-margin>
                            <!--
                            <md-icon md-font-set="material-icons">
                                {{challengeIcons[$index]}}
                            </md-icon>
                            <span flex></span>
                            -->
                            <span>{{time}}</span>
                        </div>
                    </md-option>

                </md-select>
            </md-input-container>
        </md-dialog-content>
    </div>
    <div>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button aria-label="Add Course" ng-show="course.name.length > 0"
                       ng-click="addCourse()"
                       class="md-primary">
                Add Course
            </md-button>
        </div>
    </div>
</md-dialog>
