<md-dialog aria-label="Course dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a Course</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-font-set="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout>
        <md-dialog-content layout>
            <md-input-container>
                <label>Course name</label>
                <input type="text" ng-model="course.name">
            </md-input-container>
            <md-menu>
                <md-button aria-label="Difficulty" class="md-raised md-primary"
                           ng-click="$mdOpenMenu($event)">
                    {{course.difficulty}}
                    <md-tooltip>
                        DIFFICULTY
                    </md-tooltip>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="difficulty in ['EASY', 'MEDIUM', 'HARD']">
                        <md-button ng-click="course.difficulty = difficulty"> {{difficulty}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-dialog-content>
    </div>
    <div>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button aria-label="Add Course" ng-show="course.name.length > 0"
                       ng-click="addCourse()"
                       class="md-primary">
                Add Course
            </md-button>
        </div>
    </div>
</md-dialog>
