<section data-ng-controller="ChallengesEditFtbController">
    <div layout="row" layout-align="center" layout-margin layout-fill layout-padding>

        <md-whiteframe class="md-whiteframe-z3" flex layout layout-align="left">

            <md-input-container>
                <label>Challenge name</label>
                <input ng-model="challenge.name">
            </md-input-container>
            <md-button ng-disabled="true" class="md-primary">Fill The Options</md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Hint" ng-click="showHint($event)">
                <md-icon md-font-set="material-icons">info</md-icon>
                <md-tooltip>
                    HINT
                </md-tooltip>
            </md-button>
            <md-menu>
                <md-button aria-label="Difficulty" class="md-raised md-primary"
                           ng-click="$mdOpenMenu($event)">
                    {{challenge.challengeFile.difficulty}}
                    <md-tooltip>
                        DIFFICULTY
                    </md-tooltip>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="difficulty in ['EASY', 'MEDIUM', 'HARD']">
                        <md-button ng-click="chooseDifficulty(difficulty)"> {{difficulty}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button class="md-icon-button" aria-label="Preview" ng-click="showAdvanced($event)">
                <md-icon md-font-set="material-icons">play_arrow</md-icon>
                <md-tooltip>
                    PREVIEW
                </md-tooltip>
            </md-button>
        </md-whiteframe>
    </div>

    <md-whiteframe flex="66" class="md-whiteframe-z3" layout layout-align="center center">
        <div layout="column" layout-align="center" layout-margin layout-fill layout-padding>

            <div layout="column" layout-align="center" layout-margin layout-fill layout-padding>
                <md-input-container>
                    <label>Question</label>
                    <textarea ng-model="challenge.challengeFile.textControl.text"></textarea>
                </md-input-container>
            </div>

            <div flex>
                <strong>Statements</strong>
                <md-button ng-click="addOptions()" class="md-icon-button"
                           aria-label="Add statements">
                    <md-icon md-font-set="material-icons">add</md-icon>
                </md-button>
            </div>
            <div ng-repeat="options in mcqs">
                <div layout="row" layout-align="center" flex>
                    <div ng-repeat="option in options">

                        <div ng-if="option.type == 'text' ">

                            <md-input-container flex>
                                <label>Text</label>
                                <input ng-model="option.string">
                            </md-input-container>
                        </div>
                        <div ng-if="option.type == 'choice' ">

                            <md-input-container>
                                <label>Choices</label>
                                <md-select ng-model="choice">
                                    <md-option ng-repeat="choice in option.choices" value="{{choice.string}}">
                                        {{choice.string}}{{choice.isCorrect ? ' (correct)' : ''}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <md-menu md-offset="0 -7">
                        <md-button aria-label="Open choices menu"
                                   class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-font-set="material-icons">add circle outline</md-icon>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item ng-repeat="item in ['Text', 'Multiple Choice']">
                                <md-button ng-click="addOption(options, $index, $event)"> <span md-menu-align-target>{{item}}</span>  </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-button aria-label="Remove"
                               ng-click="deleteFromList('mcqs', options)"
                               class="md-icon-button">
                        <md-icon md-font-set="material-icons">remove</md-icon>
                    </md-button>
                </div>
            </div>

            <md-button ng-click="onSubmit()" class="md-raised md-primary">Save</md-button>
        </div>
    </md-whiteframe>
</section>
