<div data-ng-controller="HeaderController">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Views" ng-click="toggleLeft()" data-ng-show="authentication.user">
                    <i class="material-icons md-36">menu</i>
                </md-button>
                <h2>
                    <span>{{value}}</span>
                </h2>
                <a href="#" ng-click="goCCourse()" >
                    <span>{{(course ? course.name : 'Courses').toUpperCase()}}</span>
                </a>
                <a href="#" ng-click="goChallenge()" >
                    <span>{{(challenge ? '>' + challenge.name : 'Challenges').toUpperCase()}}</span>
                </a>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Account" ng-click="toggleRight()">
                    <i class="material-icons md-36">account_circle</i>
                </md-button>
                <a href="#" ng-click="toggleRight()" data-ng-show="authentication.user">
                    <span>{{authentication.user.displayName.toUpperCase()}}</span>
                </a>
	       </div>
        </md-toolbar>
    </md-content>
</div>
