<div data-ng-controller="HeaderController">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Views" ng-click="toggleLeft()"
                           data-ng-show="authentication.user">
                    <i class="material-icons md-36">menu</i>
                </md-button>
                <a href="" ng-click="go('/home')" data-ng-show="!authentication.user">
                    Cytopathology Challenge
                </a>

                <a href="" ng-click="go('/courses')" data-ng-show="authentication.user">
                    Cytopathology Challenge
                </a>

                <a href="" ng-click="goCourse()" data-ng-show="authentication.user && course">
                    {{'&nbsp;>&nbsp;' + course.name}}
                </a>

                <a href="" ng-click="goChallenge()" data-ng-show="authentication.user && course && challenge">
                    {{'&nbsp;>&nbsp;' + challenge.name}}
                </a>

                <span flex></span>
                <md-button class="md-icon-button" aria-label="Account" ng-click="toggleRight()">
                    <i class="material-icons md-36">account_circle</i>
                </md-button>
                <a href="#" ng-click="toggleRight()" data-ng-show="authentication.user">
                    <span>{{authentication.user.displayName.toUpperCase()}}</span>
                </a>
            </div>
        </md-toolbar>
    </md-content>
</div>
