.content {
	margin-top: 50px;
    min-width: 1024px;
}
.undecorated-link:hover {
	text-decoration: none;
}

.undecorated-link {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.core-main-image-container {
    height: 360px;
}

.core-main-image {
    width: 360px
}



.kermit-green {
    color: #8CD049;
}

.deeper-red {
    color: #E13138;
}

.lightning-yellow {
    color: #FFEA1D;
}

.blue-sky-blue {
    color: #35C6EA;
}

.social-icons {
    height: 60px;
}
