@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), 
       local('MaterialIcons-Regular'),
       url('https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5bbKic1PW3nceB3q24YFOMg.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*Rules for sizing the icon.*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*Rules for using icons as black on a light background.*/
.material-icons.md-dark { color: rgb(0, 0, 0); color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgb(0, 0, 0); color: rgba(0, 0, 0, 0.26); }

/*Rules for using icons as white on a dark background.*/
.material-icons.md-light { color: rgb(255, 255, 255); }
.material-icons.md-light.md-inactive { color: rgb(255, 255, 255); color: rgba(255, 255, 255, 0.3); }

/*Push <i> down inside material buttons for nice fit.*/
.md-toolbar-tools > .md-icon-button > i { margin-top: 6px;}

/*Push <i> down inside material buttons in md-menu for nice fit.*/
.md-menu > .md-icon-button > i { margin-top: 6px;}

a { 
    text-decoration: none;
    color: #000;
}

a:hover { 
    text-decoration: none;
    color: #000;
}

p > a, li > a {
    color:#8bc34a;
}

form > fieldset > div > a {
    color:#8bc34a;
}

fieldset { border: 0; }

.md-button.md-fab md-icon {
    margin-right: 8px;
    margin-bottom: 10px;
}

.md-list-item-custom {
    border-top: 1px solid #EEE;
}



.md-custom-menu {
    margin-top: 20px;
}

.md-icon-padding-left {
    margin-left: 5px;
}

.md-whiteframe-background {
    background: #F6F6F6;
}

.md-grid-list {
  margin: 8px; }
.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
.red {
  background: #ff8a80; }
md-grid-tile {
  transition: all 400ms ease-out 50ms; }
