<section class="row text-center">

    <div layout="column" layout-align="center center">
        <md-content layout-padding>
            <md-whiteframe class="md-whiteframe-z2 md-whiteframe-background" layout-padding layout="column">
                <div layout="column" layout-align="center center">
                    <h3 class="md-headline">Password reset is invalid</h3>
                </div>
                <md-divider></md-divider>

                <div layout="column" layout-align="center end">
                    <a href="/#!/password/forgot" class="md-button md-raised md-primary">Ask for a new password
                        reset</a>
                </div>
            </md-whiteframe>
        </md-content>
    </div>
</section>
