<section data-ng-controller="SettingsController">
    <div layout="column" layout-align="center center">
        <md-content layout-padding>
            <md-whiteframe class="md-whiteframe-z2 md-whiteframe-background" layout="column">
                <div layout="column" layout-align="center center">
                    <h3 class="md-headline">Change password</h3>
                </div>
                <md-divider></md-divider>

                <form name="userForm" data-ng-submit="changeUserPassword()" class="signin form-horizontal"
                      autocomplete="off">
                    <fieldset>
                        <div layout="column">
                            <md-input-container flex>
                                <md-icon>
                                    <i class="material-icons">vpn_key</i>
                                </md-icon>
                                <input type="password" required id="currentPassword" name="currentPassword"
                                       data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
                            </md-input-container>
                            <md-input-container flex>
                                <md-icon>
                                    <i class="material-icons">vpn_key</i>
                                </md-icon>
                                <input type="password" required id="newPassword" name="newPassword"
                                       data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                            </md-input-container>

                            <md-input-container flex>
                                <md-icon>
                                    <i class="material-icons">vpn_key</i>
                                </md-icon>
                                <input type="password" required id="verifyPassword" name="verifyPassword"
                                       data-ng-model="passwordDetails.verifyPassword" placeholder="Repeat Password">
                            </md-input-container>
                        </div>
                        <div class="col-sm-4">
                            <p ng-show="userForm.verifyPassword.$valid && !userForm.verifyPassword.$pristine && passwordDetails.newPassword!=passwordDetails.verifyPassword"
                               class="help-block" style="color: red;">Passwords don't match.</p>
                        </div>
                        <div layout="column" layout-align="center end">
                            <button type="submit" class="md-button md-raised md-primary">change password</button>
                            &nbsp;Or&nbsp;
                            <a class="white-text" href="/#!/">Cancel</a>

                            <div data-ng-show="success" class="text-center text-success">
                                <strong>Password Changed Successfully</strong>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </md-whiteframe>
        </md-content>
    </div>
</section>
